In [41]:
import numpy as np
import pandas as pd

from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn import tree

import matplotlib.pyplot as plt

In [42]:
# followers / friends
def ffr(x):
    if x[2] > 0:
        return x[1] / (x[2] * 1.0)
    return 0.0

# statuses / favorites
def stfv(x):
    if x[4] > 0:
        return x[3] / (x[4] * 1.0)
    return 0.0

# load training dataset
TRAINING_FILE = '../data/model.dat'
TRAINING_DATA = pd.read_csv(TRAINING_FILE)

# TRAINING_DATA['ffr'] = TRAINING_DATA.apply(ffr, axis=1)
# TRAINING_DATA['stfv'] = TRAINING_DATA.apply(stfv, axis=1)

TRAINING_DATA.head()

        Class  Followers  Friends  Statuses  Favories  Lists
0  INFLUENCER      17694      485      5793       156    129
1   RETWEETER       4074     3473     71206     76912     48
2   RETWEETER        692      617     61395     35384     28
3   RETWEETER         57      135       897      1350      1
4   RETWEETER        598      841     35591     34109     20

In [43]:
# assign x, y
X = TRAINING_DATA.values[:, 1:]
Y = TRAINING_DATA.values[:, 0]

# assign classes, features
class_names = list(TRAINING_DATA['Class'].unique())
feature_names = list(TRAINING_DATA.columns.values)[1:]

In [44]:
# init classifier
clf = RandomForestClassifier(n_jobs = -1, 
                            criterion = 'entropy', 
                            random_state = 42,
                            max_depth = 5, 
                            min_samples_leaf = 5, n_estimators = 8)
clf.fit(X, Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=8, n_jobs=-1,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [45]:
UN = pd.read_csv('../../../www/twitterbots-server-node/data/sample.csv')
UN.head()

,CreatedAt,Id,ScreenName,DefaultProfileImage,FavouritesCount,FollowersCount,FriendsCount,StatusesCount,ListedCount,Lang,TimeZone,Verified,Label
0,Wed Nov 01 20:26:04 +0000 2017,9.258213e+17,Xrtk2,True,0,0,59,0,0,el,NaN,False,NaN
1,Wed Nov 01 20:23:10 +0000 2017,9.258205e+17,panagos_panagos,True,0,0,69,2,0,el,NaN,False,NaN
2,Sun Apr 06 21:54:55 +0000 2014,2.465887e+09,hat_lea,False,11,11,168,6,0,en,NaN,False,NaN
3,Wed Oct 18 03:22:38 +0000 2017,9.204903e+17,yopLxCZKcd71K5z,True,0,0,91,0,0,el,NaN,False,NaN
4,Wed Nov 01 20:23:21 +0000 2017,9.258206e+17,3fQBSmfTcNb7XCh,True,1,0,22,1,0,el,NaN,False,NaN

In [46]:
UN_X = UN[['FollowersCount', 'FriendsCount', 'StatusesCount', 'FavouritesCount', 'ListedCount']]
UN_X.head()

   FollowersCount  FriendsCount  StatusesCount  FavouritesCount  ListedCount
0               0            59              0                0            0
1               0            69              2                0            0
2              11           168              6               11            0
3               0            91              0                0            0
4               0            22              1                1            0

In [47]:
UN['Label'] = clf.predict(UN_X)

In [48]:
UN.head()
uns = UN['Label'].value_counts()

uns

BOT           384781
NORMAL         96633
RETWEETER       5686
ACTIVE          2940
INFLUENCER       660
SUPER USER       639
UNKNOWN           12
Name: Label, dtype: int64

In [40]:
UN.to_csv('../data/un.csv')